/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
// FONTS 
 
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i');

// BOOTSTRAP CUSTOMIZATIONS

$body-bg: #0971B2;
$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Open Sans Condensed', sans-serif;
$headings-font-weight: 300;
$headings-color: #FEFFFE;
$jumbotron-color: $headings-color;
$jumbotron-bg: rgba(9, 113, 178, .8);
$list-group-bg: rgba(9, 113, 178, .3);
$list-group-border: rgba(9, 113, 178, .5);
$navbar-border-radius: 0;
$navbar-default-bg: #B21212;
$navbar-default-border: $navbar-default-bg;
$navbar-default-color: $headings-color;
$navbar-default-link-color: $headings-color;
$navbar-default-toggle-icon-bar-bg: $headings-color;
$navbar-margin-bottom: 0;

 
@import "bootstrap-sprockets";
@import "bootstrap";
