@mixin headers-styling {
  letter-spacing: 2px;
  text-transform: uppercase;
}

$white-base:#FEFFFE;

html, body, .container {
  height: 100%;
}

.center {
  text-align: center;
}

.padding {
  padding: 25px;
}

.container {
  background-color: $white-base;
  padding: 20px 50px 0 50px;
}

h1, h2, h3, h4, h5, h6 {
  @include headers-styling;
}

nav {
  font-family: 'Open Sans Condensed';
  box-shadow: 1px 1px 2px;
}

nav a {
  font-weight: 300;
  font-size: 18px;
  @include headers-styling;
}

#navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

.jumbotron {
  margin: 25px;
}

.list-group {
  margin: 0 40px 0 40px;
}
