@mixin headers-styling {
  letter-spacing: 2px;
  text-transform: uppercase;
}

$white-base:#FEFFFE;

$depth-shadow: 1px 1px 2px;

html, body {
  height: 100%;
}

.container {
  display: block;
  overflow: auto;
  min-height: 50%;
  background-color: $white-base;
  padding: 20px 50px 0 50px;
}

.center {
  text-align: center;
}

.form-horizontal {
  margin: 50px 65px 0 0;
}

.padding {
  padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
  @include headers-styling;
}

nav {
  font-family: 'Open Sans Condensed';
  box-shadow: $depth-shadow;
}

nav a {
  font-weight: 300;
  font-size: 18px;
  @include headers-styling;
}

#navbar-brand {
  font-weight: 700;
  font-size: 30px;
}

.jumbotron {
  margin: 25px;
  .jumbotron-text-link {
    color: rgba(254, 255, 254 ,.7);
  }
  .jumbotron-body {
    font-size: 110%;
  }
}

.list-group {
  margin: 0 40px 0 40px;
  div {
    margin: 0 0 10px 0;
  }
}

.votes-container {
  margin: 25px 25px 0 25px;
}

.nav-tabs {
  margin: 0 25px 25px 25px;
}

.input-padding {
  margin: 25px 25px 0 25px;
}

.capitalize {
  text-transform: capitalize;
}

.contrast-text {
  color: #0971B2;
}

.show-info-container {
  margin: 25px 25px 0 25px;
}
