<p ng-if="user">Welcome, {{ user.username }}</p>
<div class="jumbotron">
  <h1>Find your Legislators</h1>
  <h3>Search for an address below</h3>
  <br>
  <form ng-submit="home.findLegislators(home.address)">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="999 Anywhere Pl, Anytown, AS 12345" ng-model="home.address">
      <span class="input-group-btn">
        <button class="btn btn-default input-lg" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->

    <!-- <div class="form-group">
      <label>House number & Street</label>
      <input type="text" class="form-control" ng-model="home.address.street">
    </div>
    <div class="form-inline">
      <label>City</label>
      <input type="text" class="form-control" ng-model="home.address.city">
      <label>State</label>
      <input type="text" class="form-control" ng-model="home.address.state">
      <label>Zip</label>
      <input type="text" class="form-control" ng-model="home.address.zip" required>
    </div>
    <div class="form-group">

    </div>
    <div class="form-group">

    </div> -->
    <!-- <input type="submit" value="Go!"> -->
</form>
</div>

<div ng-if="home.loading" class="center padding">
  <%= image_tag("loadingicon.gif") %>
</div>

<div class="row">
  <div class="list-group">
    <div ng-repeat="result in home.results.reps">
      <a ui-sref="show.activity({ id: result.id })" class="list-group-item">
        <h4 class="list-group-item-heading">
          {{ result.name }} ({{ result.role }}, {{ result.party }})
        </h4>
        <p class="list-group-item-text">bodybodybody body body body</p>
      </a>
    </div>
  </div>
</div>
