<p ng-if="user">Welcome, {{ user.username }}</p>
<div class="jumbotron">
  <h1>Search!</h1>
  <h3>Enter an address below to find your legislators</h3>
  <form ng-submit="home.findLegislators(home.address)">
    <div class="form-group">
      <label>House number & Street</label>
      <input type="text" class="form-control" ng-model="home.address.street">
    </div>
    <div class="form-inline">
      <label>City</label>
      <input type="text" class="form-control" ng-model="home.address.city">
      <label>State</label>
      <input type="text" class="form-control" ng-model="home.address.state">
      <label>Zip</label>
      <input type="text" class="form-control" ng-model="home.address.zip" required>
    </div> 
    <div class="form-group">
      
    </div>
    <div class="form-group">
      
    </div>
    <input type="submit" value="Go!">
</form>
</div>


<ul>
  <li ng-repeat="result in home.results.reps">
    <a ui-sref="show.activity({ id: result.id })">
      {{ result.name }} ({{ result.role }},
      {{ result.party }}</span>)
    </a>
  </li>
</ul>
