<h4 ng-if="user">Welcome, {{ user.username }}</h4>
<h2>Search!</h2>
<form ng-submit="home.findLegislators(home.address)">
  <label>House number & Street</label><input type="text" ng-model="home.address.street"><br>
  <label>City</label><input type="text" ng-model="home.address.city">
  <label>State</label><input type="text" ng-model="home.address.state">
  <label>*Zip</label><input type="text" ng-model="home.address.zip" required>
  <input type="submit" value="Go!">
</form>

<ul>
  <li ng-repeat="result in home.results">
    <a ui-sref="show.activity({ id: result.bioguide_id })">
      {{ result.first_name }} {{ result.middle_name }} {{ result.last_name }} ({{ result.chamber }},
      {{ result.party }}-{{ result.state }}{{ result.district }})
    </a>
  </li>
</ul>
