<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="navbar-brand" ui-sref="home" ng-hide="signedIn()">Legislately</a>
      <a class="navbar-brand" id="navbar-brand" ui-sref="newsfeed" ng-show="signedIn()">Legislately</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ui-sref="coming-soon">Coming Soon</a></li>
      </ul>
      <!-- TODO: remove search box if we decide not to provide full search -->
      <!-- <form class="navbar-form">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search legislators by name">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="signedIn()"><a ui-sref="login">Login</a></li>
        <li ng-hide="signedIn()"><a ui-sref="register">Register</a></li>
        <li ng-show="signedIn()"><a ng-click="logout()">Log Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
