<input type="text" class="form-control input-lg" placeholder="Search for subjects or specific bills" ng-model="feed.search">

<div ng-if="feed.loading" class="center padding">
  <%= image_tag("loadingicon.gif") %>
</div>

<div ng-if="!feed.loading && !feed.actualData" class="votes-container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4>You're not following anybody</h4>
    </div>
    <div class="panel-body">
      Go <a ui-sref="home">find your legislators!</a>
    </div>
  </div>
</div>

<votes-list votes="feed.actualData" names="feed.following" search="feed.search"></votes-list>
