<div ng-if="feed.loading" class="center padding">
  <%= image_tag("loadingicon.gif") %>
</div>

<div ng-if="!feed.loading && !feed.actualData" class="votes-container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4>You're not following anybody</h4>
    </div>
    <div class="panel-body">
      Go <a ui-sref="home">find your legislators!</a>
    </div>
  </div>
</div>

<div class="votes-container">
  <div class="panel panel-default" ng-repeat="vote in feed.actualData | orderBy: 'date' : true ">
    <div class="panel-heading">
      <h4 class="panel-title">
        <i>{{ vote.date | date : "M/d" }}</i> |
        <b><a ui-sref='show.info({ id: vote.member_id })'>{{ feed.following[vote.member_id] }}</a></b>
        voted <b>{{ vote.position }}</b>
        <span ng-if="vote.bill.number">on {{ vote.bill.number }}</span>
      </h4>
    </div>
    <div class="panel-body">

      <p><i>{{ vote.question }}</i> <span ng-if="vote.description">- {{ vote.description }}</span></p>
      <p>{{ vote.bill.title }}</p>
    </div>
  </div>
</div>
