<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a ui-sref="show.activity({ id: show.profile.member_id })">
      Activity
    </a>
  </li>
  <li role="presentation">
    <a ui-sref="show.info({ id: show.profile.member_id })">
      Profile
    </a>
  </li>
</ul>

<div class="form-group input-padding">
  <input type="text" class="form-control input-lg" placeholder="Search for subjects or specific bills" ng-model="show.search">
</div>


<div class="votes-container">
  <div ng-repeat="vote in show.votes | filter: show.search">
    <vote data="vote" name="show.profile.name"></vote>
  </div>
</div>
