<ul class="nav nav-tabs">
  <li role="presentation" class="active">
    <a ui-sref="show.activity({ id: show.profile.member_id })">
      Activity
    </a>
  </li>
  <li role="presentation">
    <a ui-sref="show.info({ id: show.profile.member_id })">
      Profile
    </a>
  </li>
</ul>

<input type="text" class="form-control input-lg input-padding" placeholder="Search for subjects or specific bills" ng-model="show.search">

<div class="votes-container">
  <div class="panel panel-default" ng-repeat="vote in show.votes | filter: show.search">
    <div class="panel-heading">
      <h4 class="panel-title">
        <i>{{ vote.date | date : "M/d" }}</i> |
        <b>{{ show.profile.first_name}} {{ show.profile.last_name }}</b>
        voted <b>{{ vote.position }}</b> {{ vote.question }}
      </h4>
    </div>
    <div class="panel-body">
      {{ vote.description }}
    </div>
  </div>
</div>
