<!DOCTYPE html>
<html>
  <head>
    <title>LegisLately</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="legislately">
    <nav-bar></nav-bar>
    <h1>LegisLately</h1>
    <p><i>what did your congresspersons do today?</i></p>
    <ui-view></ui-view>
  </body>
</html>
