<!DOCTYPE html>
<html>
  <head>
    <title>Legislately</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="legislately">
    <h1>LegisLately</h1>
    <p><i>a social media feed for Congress</i></p>
    <div>
      <a ui-sref="home">Home</a> | <a ui-sref="coming-soon">Coming Soon</a>
    </div>
    <ui-view></ui-view>
  </body>
</html>
