<div class="jumbotron">
  <h1>About</h1>
  <p class="jumbotron-body">LegisLately is hand-crafted and maintained by the one and only <a class="jumbotron-text-link" href="http://radditude.co" target="_blank">CJ Horton</a> using AngularJS, Ruby on Rails, Bootstrap, and Devise.</p>
  <p class="jumbotron-body">Data is provided by the <a class="jumbotron-text-link" href="https://www.propublica.org/datastore/api/propublica-congress-api" target="_blank">ProPublica Congress API</a>, with address searching through the <a class="jumbotron-text-link" href="https://developers.google.com/civic-information/" target="_blank">Google Civic Information API</a>.</p>
  <p class="jumbotron-body">Feedback and contributions are welcomed on <a class="jumbotron-text-link" href="https://github.com/radditude/legislately" target="_blank">Github</a>. Criticisms should be carefully written down, rolled into a ball, and tossed gently into the nearest body of water (or you could <a class="jumbotron-text-link" href="https://github.com/radditude/legislately/issues" target="_blank">open a Github issue</a>. Whatever).</p>
</div>
