<div class="jumbotron">
  <h1>Find your Legislators</h1>
  <h3>Search for an address below</h3>
  <br>
  <form ng-submit="home.findLegislators(home.address)">
    <div class="input-group">
      <input type="text" class="form-control input-lg" placeholder="999 Anywhere Pl, Anytown, AS 12345" ng-model="home.address">
      <span class="input-group-btn">
        <button class="btn btn-default input-lg" type="submit">Go!</button>
      </span>
    </div><!-- /input-group -->
  </form>
</div>

<div ng-if="home.loading" class="center padding">
  <img src="/assets/loadingicon-e7b44c86b050fca766a96ddac2d0932af0126da6f2305280342d909168dcce6b.gif" alt="Loadingicon" />
</div>

<div ng-if="home.error" class="votes-container">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h4>Sorry</h4>
    </div>
    <div class="panel-body">
      We couldn't find anything for that search!
    </div>
  </div>
</div>

<div class="row">
  <div class="list-group">
    <div ng-repeat="result in home.results.reps">
      <a ui-sref="show.activity({ id: result.id })" class="list-group-item">
        <h3 class="list-group-item-heading">
          {{ result.name }} | Up for re-election in {{ result.next_election }}
        </h3>
        <p class="list-group-item-text">{{ result.role }}, {{ result.party }}</p>
      </a>
    </div>
  </div>
</div>
